.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $color-separator;
  border-radius: 6px;
  padding: 1em;
  transition: all 1s ease-in-out;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1em;
  flex-grow: 1;

  p {
    margin: 0;
  }
}

.card-body {
  display: flex;
  flex-direction: row;

  .card-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light-gray;
    border: 0;
    border-radius: 12px;
  }

  .icon {
    font-size: 2em;
  }
}

.card-service-text {
  font-weight: 500;
}

.card-provider-text {
  color: $color-text-secondary;
}

.card-btn-pay {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: $color-primary;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  color: white;
  font-size: 2em;

  &.payed {
    background-color: white;
    border: 1px solid $color-success;
    color: $color-success;
  }
}

.card-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em;
  font-weight: 500;
  font-size: 1.4em;
}

@media screen and (min-width: 600px) {
  .cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    max-width: 400px;
  }
}
