form {
  width: 80%;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  .alert {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    color: red;
  }
}

.login-panel {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 0;
  padding: 1em;

  h1 {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  input {
    border: 1px solid $color-separator;
    border-radius: 20px;
    padding: 10px;
  }

  label {
    margin-bottom: 0.4em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.login-signup-separator {
  border-top: 1px solid #cbd2d6;
  position: relative;
  margin-top: 8.72%;
  margin-bottom: 4.895%;
  height: 15px;
  text-align: center;
  font-size: 83.34%;

  .text-in-separator {
    background-color: #fff;
    padding: 0 0.5em;
    position: relative;
    color: #6c7378;
    top: -0.7em;
  }
}

// Desktop view
@media screen and (min-width: 600px) {
  form {
    width: 350px;
  }

  .login-panel {
    border-radius: 12px;
    border: 1px solid $color-separator;
    padding: 2em;
  }
}
