.menu-container {
  position: fixed;
  left: 0;
  top: 64px;
  transform: translate3d(100vw, 0, 0);
  padding: 1em 1.5em;
  opacity: 0;
  background-color: $color-background;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

  width: 100vw;
  height: calc(100vh - 64px);

  &.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  ul {
    list-style-type: none;
    padding: 0.8em;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;

    li {
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  .user-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    background-color: $color-gray-light;
    border: 0;
    border-radius: 12px;
    padding: 0.8em;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;

    i {
      font-size: 1.3em;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.close-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 1.5em;
}

.user-options {
  display: block;

  &.hidden {
    display: none;
  }

  ul {
    li {
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}
