// Colors
$color-primary: #a5ce8a;
$color-primary-shaded: #9bc282;
$color-separator: #c4c4c4;

$color-action: #2f69fe;
$color-action-light: #4479ff;
$color-action-dark: #285ad8;

$color-text-secondary: #8a8a8a;
$color-light-gray: #f5f5f5;
$color-success: #4bb543;
